@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to our MVC App</h1>
    <p class="lead"> For this task, you will build a simple MVC application that will allow users to calculate a dicount price.</p>

    <p class="lead"> Users can enter the sales price and discount percent, and then the application will calculate and display the discount amount and total price.</p>
   
    
</div>
<div>
    <img src="~/Images/sales_sign.jpg" class="img-responsive" />
</div>

